fastapi==0.135.3
uvicorn[standard]==0.34.0
sqlalchemy==2.0.38
pydantic==2.10.6
python-dotenv==1.0.1
yt-dlp==2025.3.31
openai-whisper==20250625
sentence-transformers==5.4.0
faiss-cpu==1.13.2
numpy==2.2.2
ffmpeg-python==0.2.0
python-multipart==0.0.20
requests==2.32.3
opencv-python==4.11.0.86
youtube-transcript-api==0.6.3
rank_bm25==0.2.2
torch
pathlib